{% extends "base.html" %}

{% block content %}

<div style="margin-top: 30px;">
    <img class="rounded" src="{{ article.user.avatar }}" width="20px">
    <span class="text-primary">{{ article.user.username }}</span>:
</div>

<hr>

<p>
    {{ article.content | replace('\n', '</br>') | safe }}
</p>

<hr>

<div class="row justify-content-end">
    <a href="/article/edit?wid={{ article.id }}">修改微博</a>
    &nbsp;&nbsp;&nbsp;
    <span class="text-secondary">{{ article.updated }}</span>
</div>

{% endblock %}
